.container {
  display: flex;
}
.container > div {
  flex: 1; /*grow*/
}

h3 { color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; }



#svgContainer {
	z-index: -10;
	position:absolute;
	opacity: 0.5;
}


.centered {
text-align:center
  }

.bordered {
border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
  }

#outer{
	margin:0 auto;
	width: 80%;
}

#cloud{
 	width: 6em;
 	height: 6em;
 	background-color:teal;
 	margin-left: 10%;
}
#cloud1{
	height: 4em;
	width: 35%;
	padding: 2em 8em;
	margin-left: 8em;
	margin-top: 6em;
	background-color: orange;
}

#red{
	width:6em;
	height: 4em;
	margin-left: 30%;
	padding:4em 3em;
	background-color:red;
}
#aqua{
	width: 5em;
	height: 5em;
	margin-left:15%;
	background-color:aqua;
}
#purple{
	width: 15em;
	height: 5em;
	background-color:purple;
}
#green{
	width: 5em;
	height: 7em;
	margin-top: 2em;
	margin-left: 50%;
	background-color: green;
}
